.home-block
{
    min-height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.home-inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-inner-block__left
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.left-title
{
    color: #fff;
    font-size: 20px;
}

.left-text
{
    color: #fff;
    font-size: 30px;
}

.home-inner-block__right
{
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 7px 20px;
    border-radius: 5px;
    transition: color .3s, background-color .3s;
}

.home-inner-block__right:hover
{
    color: #000;
    background-color: #fff;
}